In [1]:
"""
-> Everything is object in python.
-> data types are classes and variables are instance(object) of these classes.
Important data types of python:
(1) Numbers
(2) List
(3) Tuple
(4) String
(5) Set
(6) Dictionary
"""

'\n-> Everything is object in python.\n-> data types are classes and variables are instance(object) of these classes.\nImportant data types of python:\n(1) Numbers\n(2) List\n(3) Tuple\n(4) String\n(5) Set\n(6) Dictionary\n'

### Python Numbers

In [3]:
"""
Number are also of three types:
(i) Integer: can be of any length, limited by the memory
(ii) Float: accurate upto 15 decimal places, separated by decimal points
(iii) Complex: consist of real and imaginary no(i.e real+imag*j)
we can use type() to know which class a variable or value belongs to.
isinstance() function cna be used to check if an object belongs to paricular class.
"""
print("Integer Section")
age = 22 # integer
print(age)
print(type(age))
print(isinstance(age,int))

print("Float Section")
price = 24.56 # float
print(price)
print(type(price))
print(isinstance(price,float))

print("Complex number section")
number = 2+3j # complex
print(number)
print(type(number))
print(isinstance(number,complex))

Integer Section
22
<class 'int'>
True
Float Section
24.56
<class 'float'>
True
Complex number section
(2+3j)
<class 'complex'>
True

## Python List

In [4]:
"""
-> ordered sequence of items
-> mutable, i.e elements of list can be altered
-> different type of items are supported
-> items are separated by comma inside of the brackets[]
"""

list_example = [3, 3+4j, "hello", 20.5]
print(list_example)

[3, (3+4j), 'hello', 20.5]

In [5]:
"""
-> slicing of the list using slicing operator []
-> indexing starts from 0 
"""
print(list_example)
print(list_example[3])
print(list_example[:])
print(list_example[2:])

number = [2, 4, 6, 8]
print(number)
number[2] = 5
print(number)

[3, (3+4j), 'hello', 20.5]
20.5
[3, (3+4j), 'hello', 20.5]
['hello', 20.5]
[2, 4, 6, 8]
[2, 4, 5, 8]

## Python String

In [6]:
"""
-> Sequence of unicode characters
-> can use single, double quotes for string representation
-> multi-line strings can be denoted using triple quotes
"""
string_example = "Hey, how are you?"
print(string_example)

multiline_string_example = ''' Hello 
It's me Sabuj.'''
print(multiline_string_example)

Hey, how are you?
 Hello
It's me Sabuj.

In [7]:
"""
-> slicing can be done using slicing operator []
-> string are immutable
"""
this_example = "This is python string short description."
print(this_example[5])
print(this_example[:5])
print(this_example[5:])

#print(this_example[:5] = "Hello") # error will raised

i
This
is python string short description.

## Python Set

In [9]:
"""
-> Unordered collection of unique items
-> values are separated by comma inside {}
-> Items are not ordered
-> can perform union intersection, symmetric difference between two sets of unique value
->> Indexing and slicing can't be perform in sets due to unordered collection of items
"""

set_example = {1, 2, 3, 5, 7, 11, 13, 17}
print(set_example)
print(type(set_example))

{1, 2, 3, 5, 7, 11, 13, 17}
<class 'set'>

## Python Dictionary

In [10]:
"""
-> Dictionary is an unordered collection of key-value pairs.
-> defined within braces{} separated by comma between the key value pair
-> key:value; where key and value can be of any type
"""

dictionary_example = {1: "value1", "key1": 23}
print(dictionary_example)
print(type(dictionary_example))
#retrieving
print(dictionary_example[1])
print(dictionary_example["key1"])

{1: 'value1', 'key1': 23}
<class 'dict'>
value1
23

### Data type Conversion

In [ ]:
"""
we can convert data using various conversion function.
Eg: str(), float(), int(), bin(), tuple(), dict(), list()
"""